*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-pg: #fff;
    --text-clr: #000;
    --text-2nd-clr: #017143;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-pg);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo-icon{
    position: relative;
    max-width: 80px;
}

header ul{
    position: relative;
    display: flex;
    cursor: pointer;
    margin-bottom: 15px;
}

header ul li {
  position: relative;
  padding: 10px 20px;
  margin-right:10px ;
  border-radius: 7px;
  border: 1px solid var(--text-clr);
  background-color: var(--text-2nd-clr);
  overflow: hidden;
  color: #fff;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-size: 14px;
  font-weight: 500;
}

header ul li:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #fff;
}

header ul li:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

header ul li::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

header ul li:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .text-box{
    position: relative;
    max-width: 600px;
}

.content .text-box h2{
    color: var(--text-clr);
    font-size: 3rem;
    line-height: 1em;
    font-weight: 600;
    margin-bottom: 1rem;
}

.content .text-box h2 span{
    color: var(--text-2nd-clr);
    font-size: 1.2em;
    font-weight: 900;
}

.content .text-box p{
    color: var(--text-clr);
    margin-bottom: 1rem;
    text-align: justify;
}
  
.content .ImgBox{
    width: 400px;
    height: 70vh;
}

.content .ImgBox img{
    max-width: 400px;
}

.thumb{
    position: absolute;
    display: flex;
    left: 100px;
    bottom: 20px;
}

.thumb li{
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover{
    transform: translateY(-50%);
}

.thumb li img{
    max-width: 60px;
}

.sci{
    position: absolute;
    top: 50%;
    right:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-50%);
}

.sci .icon {
  position: relative;
  margin: 10px;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sci .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sci .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sci .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.sci .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.sci .facebook:hover .tooltip,
.sci .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #fff;
}

.sci .twitter:hover .tooltip,
.sci .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #fff;
}

.sci .instagram:hover .tooltip,
.sci .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #fff;
}

.circle-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text-2nd-clr);
    clip-path: circle(600px at left -400px);
}

.circle-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text-2nd-clr);
    clip-path: circle(600px at right 800px);
}

.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  font-size: 14px;
  padding-right: 15px;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: var(--text-clr);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-2nd-clr);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
